::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(223, 141, 185);
    border-radius: 1rem;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ddd;
   
}

#sidenav{
    
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}
